::selection{
  background: var(--selection-background);
  color: var(--selection-color);
}
::-moz-selection{
  background: var(--selection-background);
  color: var(--selection-color);
}
img::selection{
  background: transparent;
}
img::-moz-selection{
  background: transparent;
}

body{
  -webkit-tap-highlight-color: #e2e8f0;
}
  
