//	Headings

@font-face {
  font-family: "Texta";
  src: url("../fonts/Texta/texta_thin/Texta-Thin-webfont.eot");
  src: url("../fonts/Texta/texta_thin/Texta-Thin-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Texta/texta_thin/Texta-Thin-webfont.woff") format("woff"),
    url("../fonts/Texta/texta_thin/Texta-Thin-webfont.ttf") format("truetype"),
    url("../fonts/Texta/texta_thin/Texta-Thin-webfont.svg#UbuntuItalic")
      format("svg");
  font-weight: 100;
}
@font-face {
  font-family: "Texta";
  src: url("../fonts/Texta/texta_light/Texta-Light-webfont.eot");
  src: url("../fonts/Texta/texta_light/Texta-Light-webfont?#iefix")
      format("embedded-opentype"),
    url("../fonts/Texta/texta_light/Texta-Light-webfont.woff") format("woff"),
    url("../fonts/Texta/texta_light/Texta-Light-webfont.ttf") format("truetype"),
    url("../fonts/Texta/texta_light/Texta-Light-webfont.svg#UbuntuItalic")
      format("svg");
  font-weight: 200;
}
@font-face {
  font-family: "Texta";
  src: url("../fonts/Texta/texta_book/Texta-Book-webfont.eot");
  src: url("../fonts/Texta/texta_book/Texta-Book-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Texta/texta_book/Texta-Book-webfont.woff") format("woff"),
    url("../fonts/Texta/texta_book/Texta-Book-webfont.ttf") format("truetype"),
    url("../fonts/Texta/texta_book/Texta-Book-webfont.svg#UbuntuItalic")
      format("svg");
  font-weight: 300;
}
@font-face {
  font-family: "Texta";
  src: url("../fonts/Texta/texta_regular/Texta-Regular-webfont.eot");
  src: url("../fonts/Texta/texta_regular/Texta-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Texta/texta_regular/Texta-Regular-webfont.woff")
      format("woff"),
    url("../fonts/Texta/texta_regular/Texta-Regular-webfont.ttf")
      format("truetype"),
    url("../fonts/Texta/texta_regular/Texta-Regular-webfont.svg#UbuntuItalic")
      format("svg");
  font-weight: 400;
}
@font-face {
  font-family: "Texta";
  src: url("../fonts/Texta/texta_medium/Texta-Medium-webfont.eot");
  src: url("../fonts/Texta/texta_medium/Texta-Medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Texta/texta_medium/Texta-Medium-webfont.woff") format("woff"),
    url("../fonts/Texta/texta_medium/Texta-Medium-webfont.ttf")
      format("truetype"),
    url("../fonts/Texta/texta_medium/Texta-Medium-webfont.svg#UbuntuItalic")
      format("svg");
  font-weight: 500;
}
@font-face {
  font-family: "Texta";
  src: url("../fonts/Texta/texta_bold/Texta-Bold-webfont.eot");
  src: url("../fonts/Texta/texta_bold/Texta-Bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Texta/texta_bold/Texta-Bold-webfont.woff") format("woff"),
    url("../fonts/Texta/texta_bold/Texta-Bold-webfont.ttf") format("truetype"),
    url("../fonts/Texta/texta_bold/Texta-Bold-webfont.svg#UbuntuItalic")
      format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "Texta";
  src: url("../fonts/Texta/texta_black/Texta-Black-webfont.eot");
  src: url("../fonts/Texta/texta_black/Texta-Black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Texta/texta_black/Texta-Black-webfont.woff") format("woff"),
    url("../fonts/Texta/texta_black/Texta-Black-webfont.ttf") format("truetype"),
    url("../fonts/Texta/texta_black/Texta-Black.svg#UbuntuItalic") format("svg");
  font-weight: 800;
}
@font-face {
  font-family: "Texta";
  src: url("../fonts/Texta/texta_heavy/Texta-Heavy-webfont.eot");
  src: url("../fonts/Texta/texta_heavy/Texta-Heavy-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Texta/texta_heavy/Texta-Heavy-webfont.woff") format("woff"),
    url("../fonts/Texta/texta_heavy/Texta-Heavy-webfont.ttf") format("truetype"),
    url("../fonts/Texta/texta_heavy/Texta-Heavy-webfont.svg#UbuntuItalic")
      format("svg");
  font-weight: 900;
}

@font-face {
  font-family: "Clarendon";
  src: url("../fonts/ClarendonURWLig/ClarendonURW-Lig.eot");
  src: url("../fonts/ClarendonURWLig/ClarendonURW-Lig.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ClarendonURWLig/ClarendonURW-Lig.woff") format("woff"),
    url("../fonts/ClarendonURWLig/ClarendonURW-Lig.ttf") format("truetype"),
    url("../fonts/ClarendonURWLig/ClarendonURW-Lig.svg#UbuntuItalic")
      format("svg");
  font-weight: 300;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');