.header-title-contact-page{
    font-size: 40px;
    margin: 0;
    margin-bottom: 10px;
}
.header-sub-title-contact-page{
    font-size: 20px;
    font-weight: 100;
    margin: 0;  
}
.copy-email-link{
    background: transparent;
    border: transparent;
    color: var(--color);
    font-size: 20px;
    cursor: pointer;
    outline: none;
    padding: 1px 6px;
    &:hover,
    &:active,
    &:focus{
        outline: 0;
        transform: none;
        
    }
}
.tooltip{
    position: relative;
}
.tooltip-text{
    position: absolute;
    visibility: hidden;
    top: -31px;
    right: -65px;
    font-size: 14px;
    font-family: $secondary-font-family;
    width: 140px;
    background-color:$color;
    color: $background;
    padding: 6px;
    border-radius: 5px;
    font-weight: 500;
    text-transform: none;
}
.tooltip:hover .tooltip-text{
    visibility: visible;
}