.article-container{   
    background-color: $color;
    padding: 30px;
    color: $background;
    font-family: $secondary-font-family;
    margin-bottom: 10vh;
}
.article-main-header, .article-second-header{
    color: $background;
    font-family: $secondary-font-family;
}