:root {
  --background: #ffffff;
  --color: #21447f;
  --accent: #00c1a0;
  --switch: #000;
  --selection-background: #fff498;
  --selection-color: var(--color);
}

[data-theme="dark"] {
  --background: #282c35;
  --color: #ffffff;
  --accent: #ffa7c4;
  --switch: #fff;
  --selection-background: #ffa7c4;
  --selection-color: var(--color);
}

$background: var(--background);
$color: var(--color);
$accent: var(--accent);

$selection-background: var(--selection-background);
$selection-color: var(--selection-color);

$texta: "Texta", serif;
$clarendon: "Clarendon", sans-serif;

// Cool
