// :root {
//   --background: #ffffff;
//   --color: #29363d;
//   --accent: #2196f3;
//   --switch: #000;
//   --selection-background: #fff498;
//   --selection-color: var(--color);
// }
:root {
  --background: #ffffff;
  --color: #000000;
  --accent: #F95E54;
  --switch: #000;
  --selection-background: #000000;
  --selection-color: var(--background);
}
// :root {
//   --background: #F9F5F4;
//   --color: #0A1931;
//   --accent: #F95E54;
//   --switch: #000;
//   --selection-background: #fff498;
//   --selection-color: var(--color);
// }

[data-theme="dark"] {
  --background: #282c35;
  --color: #ffffff;
  --accent: #ffa7c4;
  --switch: #fff;
  --selection-background: #ffa7c4;
  --selection-color: var(--color);
}

$background: var(--background);
$color: var(--color);
$accent: var(--accent);

$selection-background: var(--selection-background);
$selection-color: var(--selection-color);

$texta: "Texta", sans-serif;
$clarendon: "Clarendon", serif;
$inter: "Inter", sans-serif;
 

// Cool
